@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-image: url(/src/img/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  overflow:hidden;
  height: 100%;
  overflow-y: scroll;
  background-attachment: fixed
}
.w-full{
  width: 90%;
}